/*Style sheet for index.html for the Horiseon home page*/

/*Site-wide  styles*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
    text-decoration: none;
}

/*Style the body*/
body {
    background-color: #d9dcd6;
}

/*Style the navigation bar*/
.nav {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

.nav h1 {
    display: inline-block;
    font-size: 48px;
}

/*Make "seo" letters in Horiseon logo different color*/
.nav h1 .seo {
    color: #d9dcd6;
}

.nav div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.nav div ul {
    list-style-type: none;
}

.nav div ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Style the section after the navigatio bar that contains the large image*/
.post-nav {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Providing location for the images in the articles*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*Style all of the articles in the section*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content h2{
    margin-bottom: 20px;
    font-size: 36px;
}

.content img{
    max-height: 200px;
}

/*Style the individual product articles*/
.products{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Style the aside*/
.benefits {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefits h3{
    margin-bottom: 10px;
    text-align: center;
}

.different-beinfits{
    margin-bottom: 32px;
    color: #ffffff;
}